.cardContainer {
    width: 360px;
    height: 200px;
    background-color: #FFF;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.createCardContainer {
    font-size: 90px;
    color: #acacac;
}