.sidebarContainer {
    box-sizing: border-box;
    width: 200px;
    height: 100vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.langbotIconContainer {
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    .langbotIcon {
        width: 2.8rem;
        height: 2.8rem;
        color: #fbfbfb;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .langbotTextContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.1rem;
    }

    .langbotText {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .langbotVersion {
        font-size: 0.8rem;
        font-weight: 700;
        color: #6C6C6C;
    }
}


.sidebarChildContainer {
    width: 10rem;
    height: 3rem;
    margin: 0.8rem 0;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    gap: 0.5rem;
}

.sidebarSelected {
    background-color: #2288ee;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sidebarUnselected {
    background-color: white;
    color: #6C6C6C;
}

.sidebarChildIcon {
    width: 20px;
    height: 20px;
    background-color: rgba(96, 149, 209, 0);
}